@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.App {
  box-sizing: border-box;
  background-image: url("https://cdn.pixabay.com/photo/2020/04/17/19/41/cosmos-5056646_960_720.jpg");
  background-position: center;
  background-size: cover;
}
.headerDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 360px;
  background-image: linear-gradient(to bottom, #055d96, rgba(112, 71, 71, 0));
}
.myName {
  font-size: 65px;
  margin: 0;
  font-family: "Indie Flower", cursive;
  color: #e0eff2;
  font-weight: bolder;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}
.myTitle {
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin-left: 350px;
  margin-top: -30px;
  color: White;
}
.headshotDiv {
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: inset 5px 0px 40px 5px rgb(0, 183, 255);
  margin-right: 15px;
  border: 2px solid #055d96;
}
.aboutDiv {
  color: white;
  background-color: rgba(108, 166, 219, 0.5);
  width: 400px;
  font-size: 11px;
  margin-top: 15px;
  padding: 8px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-radius: 15px;
}

.picAndNameDiv {
  display: flex;
}
.linksDiv {
  display: flex;
}
.linksDiv a {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: bold;
  border-radius: 7px;
  padding: 4px;
  margin: 0 5px;
  text-decoration: none;
  color: whitesmoke;
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.categoryDiv {
  color: white;
  font-weight: bolder;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}
.projectsDiv {
  margin-top: 5px;
}
.cssDiv {
  display: flex;
  justify-content: center;
}
.vanillaJSDiv {
  display: flex;
  justify-content: center;
}

.reactDiv {
  display: flex;
  justify-content: center;
}
.apiDiv {
  display: flex;
  justify-content: center;
}
.pythonDiv {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .headerDiv {
    height: 360px;
  }
  .myName {
    font-size: 38px;
  }
  .myTitle {
    font-size: 12px;
    margin-left: 220px;
    margin-top: -30px;
  }
  .headshotDiv {
    height: 75px;
    width: 75px;
    margin-right: 5px;
  }
  .aboutDiv {
    width: 300px;
  }
  .linksDiv a {
    text-align: center;
    font-size: 10px;
  }
  .categoryDiv {
    font-size: 16px;
  }
  .cssDiv {
    flex-direction: column;
    align-items: center;
  }
  .vanillaJSDiv {
    flex-direction: column;
    align-items: center;
  }

  .reactDiv {
    flex-direction: column;
    align-items: center;
  }
  .apiDiv {
    flex-direction: column;
    align-items: center;
  }
  .pythonDiv {
    flex-direction: column;
    align-items: center;
  }
}
